.loginSection{
    display: flex;
    justify-content: center;
}

.textField{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    width: 30vw;
}

/* *{
    border: 1px solid red;
} */

.RegisterSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .RegisterBtn{
    width: 100%;
  }

.forgotPassLink{
    width: 30vw;
    text-align: left;
    font-style: italic;
  }